body {
	font-family: sans-serif;
}

#header {
	margin-left: 80%;
}

#logo {
	margin-top: 10%;
	margin-left: 35%;
}

#textbox {
	height: 20px;
	width: 400px;
	font-size: 14;
}

#gsearch {
	margin-left: 10%;
}

#ifeelucky {
	margin-left: 5%;
}

div img {
	height: 38%;
	width: 38%;
}

div form {
	margin-left: 31%;
}

div p {
	margin-top: 4%;
	margin-left: 39%
}

div table {
	background-color: #dddddd;
	margin-top: 12%;
}