html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	color: black;
}

form {
	margin: 15% 0 0 28%;
}

p img {
	margin-top: 5%;
	width: 25%;
}

#container {
	position: relative;
	min-height: 100%
}

#header {
	padding: 10px;
	height: 100px;
}

#content: {
	padding-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
}

#footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background: #f4f4f4;
	bottom: 0;
	left: 0;
	border-top: 1px solid #e0e5e5;
}

#headerlinks {
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
}

.headerlink {
	margin-right: 10px;
}

.headerlink:hover {
	text-decoration: underline;
}

#grid {
	height: 50%;
	opacity: 0.5;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 10px;
}

#grid:hover {
	opacity: 1.0;
}

#bell {
	height: 30%;
	border: 1px solid black;
	border-radius: 100%;
	margin-right: 10px;
	background: black;
	opacity: 0.5;
}

#bell:hover {
	opacity: 1.0;
}

#unknown {
	height: 70%;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid none;
	border-radius: 100%;
}

#tableleft {
	float: left;
	padding: 5px 5px 0 20px;
}

#tableright {
	float:right;
	padding: 5px 20px 0 5px;
}

.footerlink {
	color: black;
	opacity: 0.6;
	padding-left: 15px;
	padding-right: 15px;
}

.footerlink:hover {
	text-decoration: underline;
}

#textbox {
	height: 25px;
	width: 60%;
	border: 1px inset gray;
	opacity: 0.5;
}

#textbox:hover {
	opacity: 1.0;
}

#centerbuttons {
	text-align: center;

}

.button {
	height: 25px;
	margin-top: 20px;
}

#googlelogo {
	text-align: center;
	height: 10px;
}

#centercontent {
	text-align: center;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 50px;
}

#nihongo {
	text-decoration: none;
	color: blue;
}

#nihongo:hover {
	text-decoration: underline;
}